.navbar {
    position: sticky;
    top: 0;
    background-color: #606060;
    padding: 10px;
}

.burguer-space {
    display: flex;
    justify-content: space-between;
}

.burguer-space h1 {
    font-size: 50px;
    color: white;
    opacity: 0.7;
    padding: 10px;
}

.burguer-space .burguer-container {
    background-color: #6e6e6e;
    width: 100px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.374);
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.4s;
}

.burguer-space .burguer-container:hover {
    background-color: #606060;
    opacity: 1;
    border: none;
}

.burguer-space .burguer {
    display: block;
    color: white;
    width: 50px;
    height: 50px;
    margin: auto;

}

.navbar ul {
    display: none;
    list-style: none;
}

.navbar ul li  {
    text-align: center;
    padding: 15px;
    margin: 5px;
}

.navbar ul li .nav-link {
    font-size: 18px;
    color: white;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.4s;
}

.navbar ul li .nav-link:hover {
    opacity: 1;
    text-decoration: underline;
}

@media screen and (min-width: 900px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    } 

    .burguer-space .burguer-container {
        display: none;
    }

    .navbar ul {
        display: block;
    }

    .navbar ul li {
        display: inline-block;
        padding: 22px;
    }
}