.restricted {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    max-width: 700px;
    width: 100%;
    min-height: 450px;
    margin: 5vh auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.114);
}

.restricted h1 {
    font-size: 40px;
    padding: 20px;
}

.userProject-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-height: none;
    
}

.userProject-list .userProject {
    display: flex;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.472);
    border-radius: 5px;
}

.userProject-list .userProject h3 {
    font-size: 24px;
    padding: 5px;
}

.userProject-list .userProject p {
    font-size: 16px;
    margin: 10px;
}

.userProject .info {
    display: flex;
    flex-direction: column;
}



.sp-informations {
    width: 100%;
    padding: 10px;
}

.more-informations {
    background-color: rgba(0, 0, 0, 0.082);
    font-size: 20px;
    width: 80px;
    min-height: 103px;
    border-right: 1px solid rgba(0, 0, 0, 0.472);
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    transition: 0.4s;
}

.more-informations:hover {
    background-color: rgba(0, 0, 0, 0.156);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    min-height: 103px;
    height: 100%;
}

.more-informations .open-icon {
    display: none;
}

.more {
    display: none;
}

.more p {
    display: block;
    text-align: center;
}